{% extends "bases.html"%}

{% block content %}

<center>

<h1 class = "mt-5">Votre massage a bien été réservé.</h1>
<h5>Vous allez recevoir un mail de confirmation.</h5>
<h6><I>Le paiement se fait sur place.</I></h6>
<a id="btn" href="/" class="btn btn-primary mt-4 mb-5">retouner à l'accueil</a><br>
<h7><I>Si vous voulez annuler votre réservation, merci de nous contacter.</I></h7>
<h6 class="mt-4 mb-5"><I>⚠ Si vous avez réservé entre le lundi, et le vendredi, votre réservation peut encore être refusé, surveillez vos mails.</I></h6>
</center>


{% endblock %}