{% extends "bases.html" %}

{% block content %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active text-dark" data-bs-interval="6000">
      <img src="https://pixnio.com/free-images/2020/12/08/2020-12-08-13-42-50-1500x1000.jpg" class="d-block w-100" alt="photo d'un massage">
    </div>
    <div class="carousel-item" data-bs-interval="6000">
      <img src="https://cdn.pixabay.com/photo/2018/09/28/08/30/woman-3708735_1280.jpg" class="d-block w-100" alt="photo d'un massage">
    </div>
    <div class="carousel-item" data-bs-interval="6000">
      <img src="https://cdn.pixabay.com/photo/2018/02/27/03/36/spa-3184610_1280.jpg" class="d-block w-100" alt="photo d'un massage">
    </div>
  </div>
</div>

{% endblock %}