{% extends "bases.html" %}

{% block content %}

{% load static %}

<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active text-dark" data-bs-interval="6000">
      <img src="{% static 'aff_cous.pdf' %}" class="d-block w-100" alt="photo d'un massage">
    </div>
    <div class="carousel-item active text-dark" data-bs-interval="6000">
      <img src="{% static 'mass_bast.jpg' %}" class="d-block w-100" alt="photo d'un massage bast">
    </div>
    <div class="carousel-item active text-dark" data-bs-interval="6000">
      <img src="{% static 'mass_papa.jpg' %}" class="d-block w-100" alt="photo d'un massage">
    </div>
  </div>
</div>

{% endblock %}