# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/

# Base de donnée
bdd.db

# Dossier "static" à la racine du projet
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Visual Studio
.vscode/
.history/
*.code-workspace

Text
XPath: /pre[2]/code